body{
    background-color:#f8edeb; 
    font-family: 'Merriweather', Geneva, Tahoma, sans-serif
}
.main-txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main-img{
    height: 100px;
    width: 100px;;
    margin: 5px;
}
.tableauPlaceholder{
    height: 200px;
    width: 200px;
}
/* Parent Container */
.content_img{
    position: relative;
    margin-left: 25%;
   }
.content_img div{
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    font-family: sans-serif;
    opacity: 0;

   }
   /* Hover on Parent Container */
.content_img:hover{
    cursor: pointer;
   }
.content_img:hover div{
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.5; 
    text-align: center;
   }
/* Navigation Bar */
